#langDiv {
  display: flex;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #1890ff;
}

#langDiv :hover {
  background-color: #40a9ff;
  color: #FFF;
}

#langDiv :active {
  background-color: #096dd9;
  color: #FFF;
}
#langDiv div {
  padding: 4px 8px;
}

#Chinese {
  white-space: nowrap;
}
