/* extensions option */

.tips {
  padding-left: 40px;
  font-size: 18px;
}

#radioDiv ul {
  list-style: none;
}

#radioDiv ul li {
  display: inline-block;
  border: 1px solid #1890ff;
  padding: 8px 12px;
  margin: 0 8px 8px 0;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

#radioDiv ul li input,
#radioDiv ul li label {
  vertical-align: middle;
  cursor: pointer;
}

#radioDiv ul li:hover {
  background-color: #40a9ff;
  color: #fff;
}

#radioDiv ul li.checked {
  background-color: #096dd9 !important;
  color: #fff;
}

/* extensions */

#langDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
}

#langDiv > div.container {
  display: flex;
}

#langDiv span.line {
  display: inline-block;
  width: 50%;
  height: 2px;
  background-color: #e7e7e7;
  margin: 8px 0;
}

#langDiv > div.container > div {
  padding: 4px 8px;
  cursor: pointer;
  transition: all 0.3s;
  white-space: nowrap;
  border: 1px solid #1890ff;
  border-right: 0;
}

#langDiv > div.container > div:last-child {
  border-right: 1px solid #1890ff;
}

#langDiv div.container > div:hover {
  background-color: #40a9ff;
  color: #fff;
}

#langDiv div.container > div:active {
  background-color: #096dd9;
  color: #fff;
}

